/* 
    Document   : stylefor1
    Created on : Feb 21, 2013, 10:06:10 AM
    Author     : Arwen Hawes <ahawes@unca.edu>
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
	font-family: 'gyparody';
	src: url('fonts/gyparody hv.otf');
	src: local('gyparody'), local('gyparody'), url('fonts/gyparody hv.ttf') format('truetype');
}
body { 
    display: block;
    color: #D8D6A5;
    background: #833267; /*84A03D*/
    font-family:gyparody,'Roboto', sans-serif;
    text-align: center;
}
.top{
    color: #84A03D;
    padding: auto;
    font-size: 300%;
}

.intro{
    font-family: Roboto, sans-serif;
    font-size: 150%;
    
}
.choices{
    padding-top: 2em;
}

.firstchoice{
    float: left;
    padding-left: 5em;
    width: 40%;
}

.secondchoice{
    float: right;
    padding-right: 5em;
    width: 40%;
}

